{% extends 'base.html' %}

{% block title %}Создание курса{% endblock %}

{% block content %}
{% include 'header.html' %}
<div class="container">

    <h1>Новый курс</h1>
    <form method="post" id="create_course">
        {% csrf_token %}
        {{ form.as_p }}
        {{ formset.management_form }}

        {% for lesson in formset %}
            <div class="lesson-formset">
                {{ lesson }}
            </div>
        {% endfor %}
    </form>
    <script>
        $('.lesson-formset').formset({
            addText: 'Добавить урок',
            deleteText: 'Удалить урок'
        });
    </script>

    <button type="submit" form="create_course" class="save btn btn-default">Сохранить курс</button>
</div>
{% include 'footer.html' %}
{% endblock %}
