{% extends 'base.html' %}

{% block title %}Создание курса{% endblock %}

{% block content %}
{% include 'header.html' %}
<div class="container">

    <h1>Новый курс</h1>
    <form method="post" id="create_course">
        {% csrf_token %}
        {{ form.as_p }}
        {{ formset.management_form }}

        <div id="add_lesson_formset">
            {% for f in formset.forms %}
                <table class='no_error'>
                    {{ f.as_table }}
                </table>
            {% endfor %}
        </div>
        <div id="empty_form" style="display:none">
            <table class='no_error'>
                {{ formset.empty_form.as_table }}
            </table>
        </div>
    </form>

    <button type="submit" id="add_lesson" class="save btn btn-default">Добавить урок</button>
    <button type="submit" form="create_course" class="save btn btn-default">Сохранить курс</button>

</div>
{% include 'footer.html' %}
{% endblock %}
