{% extends 'base.html' %}

{% block title %}{{ student }}{% endblock %}

{% block content %}
{% include 'header.html' %}
<div class="container">
    <p>Здравствуйте, {{ student }}</p>
    {% if my_courses %}
        <p>Вы записаны на следующие курсы:</p>
        <ul>
            {% for course in my_courses %}
                <li><a href="{% url 'courses:course-detail' pk=course.pk %}">{{ course }}</a></li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Вы не ведёте ни один курс</p>
    {% endif %}
</div>
{% include 'footer.html' %}
{% endblock %}