<!DOCTYPE html>
<html lang="ru">
<head>
    {% block head %}
        <title>{% block title %}{% endblock %}</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../static/vendors/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="../static/css/styles.css">
        <script src="../static/vendors/jquery/jquery.min.js"></script>
        <script src="../static/vendors/bootstrap/js/bootstrap.min.js"></script>
    {% endblock %}
</head>
<body>
    {% block content %}{% endblock %}
</body>
</html>