{% load static %}
<html>
    <head>
      <link rel="stylesheet" href="{% static 'vendors/bootstrap/css/bootstrap.min.css' %}">
      <script src="{% static 'vendors/jquery/jquery-3.4.1.min.js' %}"></script>
      <script src="{% static 'vendors/bootstrap/js/bootstrap.min.js' %}"></script>

      <script src="{% static 'scripts.js' %}"></script>
      <title>
        {% block title %}
        {% endblock %}
      </title>
    </head>
    <body>
      {% block content %}
      {% endblock %}
    </body>
</html>