<header class="container-fluid">
  <div class="row jumbotron">
    <div class="col-md-8 col-md-offset-2">
      <h1>Блог о Félis silvéstris cátus</h1>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <a href="{{ url_for('index') }}"><i class="glyphicon glyphicon-home"></i></a>
        {% if current_user.is_anonymous %}
          <a href="{{ url_for('register') }}">Регистрация</a>
          <a href="{{ url_for('login') }}">Вход</a>
        {% else %}
          <span>Привет, {{ current_user.name }}</span>
          <a href="{{ url_for('user', username=current_user.name) }}">Твои посты</a>
          <a href="{{ url_for('create') }}">Новый пост</a>
          <a href="{{ url_for('logout') }}">Выход</a>
        {% endif %}
      </div>
    </div>
  </div>
</header>