<article class="row entry container">
    <h3>{{ post.title }}</h3>
    <p class="post">{{ post.body }}</p>
    <p class="tags">
      {% for tag in post.tags %}
        <a href="{{ url_for('tag', pk=tag.id) }}" class="tag">{{ tag }}</a>
      {% endfor %}
    </p>
    <div class="pub-date">
        <span>{{ post.created|datetime }}</span>
        Автор: <a href="{{ url_for('user_posts', username=post.user.name) }}">{{ post.user.name }}</a>
      {% if current_user.name == post.user.name %}
        <a href="{{ url_for('edit', pk=post.id) }}">Редактировать</a>
      {% endif %}
    </div>
</article>