{% extends "base.html" %}
{% block title %}Посты {{current_user.name}}{% endblock %}
{% block content %}
{% include 'includes/header.html' %}

<div class="container-fluid">
  <div class="row centered">
      <h1>Посты {{current_user.name}}</h1>
      {% for post in posts %}
          <article class="row entry container">
              <h3>{{ post.title }}</h3>
              <p class="post">{{ post.body }}</p>
              <div class="pub-date">
                  <span>{{ post.created }}</span>
                  <a href="{{ url_for('index') }}" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-home"></span> На главную</a
              </div>
          </article>
      {% endfor %}
  </div>
</div>

{% include 'includes/footer.html' %}
{% endblock %}