{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
{% include 'navbar.html' %}
  <main >
    <div class="container wow fadeIn">
      <h2 class="my-5 h2 text-center">Оформление заказа</h2>
      <div class="row">
        <div class="col-md-8 mb-4">
          <div class="card">
            <form method="POST" class="card-body">
              {% csrf_token %}

              <h3>Адрес доставки</h3>

              <div class='hideable_shipping_form'>
                <div class="md-form mb-5">
                  <input type='text' placeholder='3-я улица Строителей'
                         id='street_address' name='street_address'
                         class='form-control' value="{{ default_address.street_address }}">
                  <label for="street_address" class="">Улица</label>
                </div>

                <div class="md-form mb-5">
                  <input type='text' placeholder='Дом 25' id='house_number' name='house_number' class='form-control' value="{{ default_address.house_number }}">
                  <label for="house_number" class="">Дом, корпус</label>
                </div>

                <div class="md-form mb-5">
                  <input type='text' placeholder='12' id='apartment_number' name='apartment_number' class='form-control' value="{{ default_address.apartment_number }}">
                  <label for="apartment_number" class="">Номер квартиры</label>
                </div>

                <div class="row">
                  <div class="col-lg-4 col-md-6 mb-4">
                    <label for="address_zip">Индекс</label>
                    <input type='text' placeholder='Индекс' id='address_zip' name='address_zip' class='form-control' value="{{ default_address.address_zip }}">
                    <div class="invalid-feedback">Укажите индекс.</div>
                  </div>
                </div>

                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" name="set_default_address" id="set_default_address" value="true">
                  <label class="custom-control-label" for="set_default_address">Сохранить адрес</label>
                </div>
              </div>

              <hr class="mb-4">
              <button class="btn btn-primary btn-lg btn-block" type="submit">Перейти к оплате</button>

            </form>

          </div>

        </div>

        <div class="col-md-4 mb-4">
          {% include "order-snippet.html" %}
        </div>

      </div>

    </div>
  </main>

{% endblock content %}
