{% extends 'base.html' %}
{% block content %}
  {% include 'navbar.html' %}
  <!--Main layout-->
  <main>
    <div class="container">

      <!--Navbar-->
      <nav class="navbar navbar-expand-lg navbar-dark mdb-color lighten-3 mt-3 mb-5">

        <!-- Navbar brand -->
        <span class="navbar-brand">Категории</span>

        <!-- Collapse button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
          aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Collapsible content -->
        <div class="collapse navbar-collapse" id="basicExampleNav">

          <!-- Links -->
          <ul id="menu" class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="#">Все</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'core:wear-category' category='TS' %}">Футболки</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'core:wear-category' category='SW' %}">Спортивная одежда</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'core:wear-category' category='OW' %}">Верхняя одежда</a>
            </li>

          </ul>
          <!-- Links -->
        </div>
        <!-- Collapsible content -->

      </nav>
      <!--/.Navbar-->

      <!--Section: Products v.3-->
      <section class="text-center mb-4">

        <!--Grid row-->
        <div class="row wow fadeIn">

          {% for item in object_list %}
          <div class="col-lg-3 col-md-6 mb-4">
            <div class="card">
              <a href="{{ item.get_absolute_url }}">
                <div class="view overlay">
                  <img src="{{ item.image.url }}" class="card-img-top" alt="">
                  <div class="mask rgba-white-slight"></div>
                </div>
                <div class="card-body text-center">
                  <span class="grey-text">
                    <h5>{{ item.get_category_display }}</h5>
                  </span>
                  <h5>
                    <strong>
                      <span class="dark-grey-text">{{ item.title }}
                        <span class="badge badge-pill {{ item.get_label_display }}-color">NEW</span>
                      </span>
                    </strong>
                  </h5>
                  <h4 class="font-weight-bold blue-text">
                    <strong>
                      {% if item.discount_price %}
                        <span class="mr-1">
                          <del>{{ item.price }} руб.</del>
                        </span>
                        <span>{{ item.discount_price }} руб.</span>
                      {% else %}
                        <span>{{ item.price }} руб.</span>
                      {% endif %}
                    </strong>
                  </h4>
                </div>
              </a>
            </div>
          </div>
          {% endfor %}
        </div>
      </section>

{% if is_paginated %}
      <nav class="d-flex justify-content-center wow fadeIn">
        <ul class="pagination pg-blue">

          {% if page_obj.has_previous %}
          <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
              <span class="sr-only">Previous</span>
            </a>
          </li>
          {% endif %}

          <li class="page-item active">
            <a class="page-link" href="?page={{ page_obj.number }}">{{ page_obj.number }}
              <span class="sr-only">(current)</span>
            </a>
          </li>

          {% if page_obj.has_next %}
          <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
              <span class="sr-only">Next</span>
            </a>
          </li>
          {% endif %}
        </ul>
      </nav>
      {% endif %}

    </div>
  </main>

  <script   src="https://code.jquery.com/jquery-3.5.1.slim.min.js"   integrity="sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs=" crossorigin="anonymous">
  </script>

  <script>
    $(function() {
      var url = window.location.href;
      $('#menu li a').each(function() {
        if (url == (this.href)) {
          $(this).closest('li').addClass('active');
        }
      })
    })
  </script>
});

{% endblock content %}
