{% extends "base.html" %}

{% block content %}
{% include 'navbar.html' %}
  <main>
    <div class="container">

    <div class="table-responsive text-nowrap">
    <h2>Сводка заказа</h2>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Название товара</th>
            <th scope="col">Цена</th>
            <th scope="col">Количество</th>
            <th scope="col">Общая цена товаров</th>
        </tr>
        </thead>
        <tbody>
        {% for order_item in object.items.all %}
        <tr>
            <th scope="row">{{ forloop.counter }}</th>
            <td>{{ order_item.item.title }}</td>
            <td>{{ order_item.item.price }}</td>
            <td>
                <a href="{% url 'core:remove-single-item-from-cart' order_item.item.slug %}"><i class="fas fa-minus mr-2"></i></a>
                {{ order_item.quantity }}
                <a href="{% url 'core:add-to-cart' order_item.item.slug %}"><i class="fas fa-plus ml-2"></i></a>
            </td>
            <td>
            {% if order_item.item.discount_price %}
                {{ order_item.get_total_discount_item_price }} руб.
                <span class="badge badge-primary">Сэкономлено {{ order_item.get_amount_saved }} руб.</span>
            {% else %}
                {{ order_item.get_total_item_price }} руб.
            {% endif %}
            <a style='color: red;' href="{% url 'core:remove-from-cart' order_item.item.slug %}">
                <i class="fas fa-trash float-right"></i>
            </a>
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan='5'>Ваша корзина пуста</td>
        </tr>
        <tr>
            <td colspan="5">
            <a class='btn btn-primary float-right' href='/'>Продолжить покупки</a>
            </td>
        </tr>
        {% endfor %}
        {% if object.coupon and not object.coupon.discarded %}
        <tr>
            <td colspan="4"><b>Купон</b></td>
            <td><b>-{{ object.coupon.amount }} руб.</b></td>
        </tr>
        {% endif %}
        {% if object.items %}
        <tr>
            <td colspan="4"><b>Общая сумма</b></td>
            <td><b>{{ object.get_total }} руб.</b></td>
        </tr>
        <tr>
            <td colspan="5">
            <a class='btn btn-warning float-right ml-2' href='{% url "core:checkout" %}'>Перейти к оплате</a>
            <a class='btn btn-primary float-right' href='/'>Продолжить покупки</a>
            </td>
        </tr>
        {% endif %}
        </tbody>
    </table>

    </div>

    </div>
  </main>

{% endblock content %}
