{% extends 'base.html' %}
{% load static %}
{% block content %}

  <main>
    <div class="container">
      <div class="creditCardForm">
          <div class="heading">
              <h1>Оплата</h1>
          </div>
          <div class="payment">
              <form>
                  <div class="form-group owner">
                      <label for="owner">Владелец карты</label>
                      <input type="text" class="form-control" id="owner">
                  </div>
                  <div class="form-group" id="card-number-field">
                      <label for="cardNumber">Номер карты</label>
                      <input type="text" class="form-control" id="cardNumber">
                  </div>
                  <div class="form-group" id="expiration-date">
                      <label>Действительна до</label>
                      <select>
                          <option value="01">Январь</option>
                          <option value="02">Февраль</option>
                          <option value="03">Март</option>
                          <option value="04">Апрель</option>
                          <option value="05">Май</option>
                          <option value="06">Июнь</option>
                          <option value="07">Июль</option>
                          <option value="08">Август</option>
                          <option value="09">Сентябрь</option>
                          <option value="10">Октябрь</option>
                          <option value="11">Ноябрь</option>
                          <option value="12">Декабрь</option>
                      </select>
                      <select>
                          <option value="16">2020</option>
                          <option value="17">2021</option>
                          <option value="18">2022</option>
                          <option value="19">2023</option>
                          <option value="20">2024</option>
                          <option value="21">2025</option>
                      </select>
                  </div>
                  <div class="form-group CVV">
                      <label for="cvv">CVV</label>
                      <input type="text" class="form-control" id="cvv">
                  </div>

                  <div class="form-group" id="credit_cards">
                      <img src="{% static 'img/visa.jpg' %}" id="visa">
                      <img src="{% static 'img/mastercard.jpg' %}" id="mastercard">
                  </div>
                  <div class="form-group" id="pay-now">
                      <a class="btn btn-default" id="submit-purchase" href="{% url 'core:home' %}">Подтвердить</a>
                  </div>
              </form>
          </div>
      </div>
    </div>
  </main>

{% endblock content %}
